<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title>File exchange server</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
</head>

<body>
<div id="main">
	<div id="head"><p><h2>Welcome to file exchange server page</h2></p>
	<hr>
	<p>here you can get files by link or code</p>
	<form action="/" method="POST">
	<p>get by code: <input type="text" name="code"></input></p>
	</form>
	</div>
	<br>
	<div id="content">{{ content }}</div>
	<br>
	{% if public %}
	<b><a href="/public">Also you can see public files list</a></b>
	<br>
	{% endif %} 
	<div id="footer"><a href="https://bitbucket.org/matrixd/file-exchange-webapp2/overview">sources</a></div>
</div>
</body>

</html>
