<div width="105px" id="public">
	{% for r in rows %}
		<div width="100px" border="1px grey solid" style="margin: 1px;"><a href="/get/{{ r['c'] }}"><div>{{ r['fname'] }}</div></a></div>
	{% endfor %}
</div>
